Traveler_Co_Pilot_Visual.json
{
  "name": "Traveler Co-Pilot Visual",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*",
          "message"
        ],
        "additionalFields": {}
      },
      "id": "bc4feb3c-32cf-4a81-a650-967f28242c52",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        560,
        240
      ],
      "webhookId": "dc662a0e-5dbc-45ba-a3db-abf5307b2c94",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "KdvuMXJQ1nq0hhc7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Translation : Speech to Text\n\n- Converts from speech to text.\n\n- Translates the language from the native language to translated language (as specified in settings node)\n\n",
        "height": 586.6978417266175,
        "width": 556.5162909529794,
        "color": 7
      },
      "id": "1fdf4606-179e-410e-8fc2-34ffb570c22f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "ba754467-4354-4b23-a121-d95ae8d6fc96",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2500,
        400
      ],
      "typeVersion": 1,
      "webhookId": "68b33f20-8fb7-43d6-9a5e-2391a24655aa",
      "credentials": {
        "telegramApi": {
          "id": "KdvuMXJQ1nq0hhc7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "id": "23bd3b07-e09a-4c4c-a68a-9d50c54b1d49",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1320,
        220
      ],
      "typeVersion": 1.1,
      "webhookId": "77995a14-fee7-4606-9665-c39f44167657",
      "credentials": {
        "telegramApi": {
          "id": "KdvuMXJQ1nq0hhc7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "941cd5b8-47a4-4742-a809-7b6a7f8edfe0",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1800,
        420
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "vN2l8h87IDpiFNjH",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Telegram output\n\n- Provide the output in both text as well as speech. \n\n- Many languages are supported including English,French, German, Spanish, Chinese, Japanese.\n\nFull list here:\nhttps://platform.openai.com/docs/guides/speech-to-text/supported-languages\n",
        "height": 588.6885233117844,
        "width": 585.8688089385912,
        "color": 7
      },
      "id": "c0565bc6-ba4a-4a17-9ef7-c571d1da718d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2140,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Traveler co-pilot ⭐\n\n#### Unlocking Global Communication\nThe Traveler Co-Pilot empowers you to confidently traverse the world, connecting with ease and breaking language barriers:\n- Engage in conversations with locals\n- Navigate menus at foreign eateries\n- Comprehend road signs effortlessly. \n\n### Features\n1. Seamless Speech-to-Speech Translation: \nCommunicate in any of the 55 supported languages, and witness the bot translate your words into another language in real-time, all through speech.\n2. Visual Translation Magic: Capture images containing text, and the bot will work its magic by recognizing and translating the text into the desired language, right before your eyes.\n\n### Setup\n- Open the Settings node and specify the languages you would like to work with",
        "height": 573.4892086330929,
        "width": 489.00549958607303,
        "color": 5
      },
      "id": "ffddcf30-f5aa-4f34-88d4-3d0302b4f166",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "501ac5cc-73e8-4e9c-bf91-df312aa9ff88",
              "name": "language_native",
              "type": "string",
              "value": "english"
            },
            {
              "id": "efb9a7b2-5baa-44cc-b94d-c8030f17e890",
              "name": "language_translate",
              "type": "string",
              "value": "japanese"
            }
          ]
        },
        "options": {}
      },
      "id": "8c4fac02-6b05-4f89-a4ca-ffe8a89b3912",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        800,
        240
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Detect the language of the text that follows.  \n- If it is  {{ $('Settings').item.json.language_native }} translate to {{ $('Settings').item.json.language_translate }}.  \n- If it is in  {{ $('Settings').item.json.language_translate }} translate to {{ $('Settings').item.json.language_native }} .  \n- In the output just provide the translation and do not explain it.  Just provide the translation without anything else.\n\nText:\n {{ $json.text }}\n"
      },
      "id": "9770cdfd-3f00-487d-a448-e0eb11dc57a5",
      "name": "Auto-detect and translate",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1780,
        220
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "8c54d633-b4b9-4f65-8b59-9b4242dc62e8",
      "name": "Audio reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2500,
        220
      ],
      "typeVersion": 1.1,
      "webhookId": "e27fde76-c1cc-41de-8c74-80c0136a9e49",
      "credentials": {
        "telegramApi": {
          "id": "KdvuMXJQ1nq0hhc7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "36cce161-62f0-47fb-b430-a1bd6e8afaa3",
      "name": "OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1580,
        220
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "vN2l8h87IDpiFNjH",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo[2].file_id }}"
      },
      "id": "5e2ee1f2-8b20-4cef-949a-6518cfcb1464",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1340,
        860
      ],
      "typeVersion": 1.1,
      "webhookId": "4f4c2bc4-c8c6-4efe-bbed-7a989870d824",
      "credentials": {
        "telegramApi": {
          "id": "KdvuMXJQ1nq0hhc7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "231a1d2d-3a48-4a77-9b9d-ea5b1f7ac201",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}",
                    "rightValue": "="
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "photo"
            }
          ]
        },
        "options": {}
      },
      "id": "e402b3b7-7a8b-4d4e-8ca0-1c4f209d4ef9",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        1020,
        240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {}
      },
      "id": "dc22657b-9f23-470f-8021-0ed88dc8dad8",
      "name": "Anthropic Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1780,
        1040
      ],
      "typeVersion": 1.1,
      "credentials": {
        "anthropicApi": {
          "id": "W144EEyvzquTONtC",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Translation : Image to Text\n\n- Converts from image to text.\n\n- We first need to convert Mime Type\n\n- Translates the image to the native language (as specified in settings node)\n\n",
        "height": 586.6978417266175,
        "width": 556.5162909529794,
        "color": 7
      },
      "id": "2603e057-06d6-4580-b6ab-ca4c89c23ca7",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "id": "f93df097-23f9-4fa4-803e-9997748bb7b5",
      "name": "Text to Speech",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2280,
        220
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "vN2l8h87IDpiFNjH",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please translate the image text into  {{ $('Settings').item.json.language_native }}.  Please add the text from original language alongside the translation",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "imageDetail": "low"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1760,
        860
      ],
      "id": "fef311cc-e382-48f4-aa9d-34de7d5a972a",
      "name": "Image Translate"
    },
    {
      "parameters": {
        "jsCode": "// This code converts the mime-type from application/octet-stream to image/jpeg so that \n// the vision model can use it\nconst items = $input.all();\n\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    item.binary.data.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        860
      ],
      "id": "38ed8536-23d9-4322-ae60-8efa2599ed47",
      "name": "Modify Mime Type"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Auto-detect and translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Modify Mime Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text to Speech": {
      "main": [
        [
          {
            "node": "Audio reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-detect and translate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image Translate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-detect and translate": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text to Speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Translate": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Mime Type": {
      "main": [
        [
          {
            "node": "Image Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eaf2eb52-35c7-42ef-af3b-05d049baa238",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04ddf1130268840c229f501edc57936c3c131339e8b0cdd696fcf3a7c69e696e"
  },
  "id": "oPTSEufK8br1C8Ed",
  "tags": []
}